before_script:
  - module load astrocyte
  - module load python/3.6.1-2-anaconda
  - module load nextflow/0.31.1_Ignite
  - mkdir test_data/simple
  - ln -s /project/shared/bicf_workflow_ref/workflow_testdata/cellranger/cellranger_mkfastq/simple/* test_data/simple/

stages:
  - astrocyte
  - simple

astrocyte_check:
  stage: astrocyte
  script:
  - astrocyte_cli check ../cellranger_mkfastq

simple_test:
  stage: simple
  script:
  - nextflow run workflow/main.nf --bcl test_data/simple/*.tar.gz --designFile test_data/simple/cellranger-tiny-bcl-simple-1_2_0.csv
