before_script:
  - module load astrocyte
  - module load python/3.6.1-2-anaconda
  - module load nextflow/0.31.1_Ignite
  - mkdir -p test_data/simple1
  - mkdir -p test_data/simple2
  - ln -sfn /project/shared/bicf_workflow_ref/workflow_testdata/cellranger/cellranger_mkfastq/simple1/* test_data/simple1/
  - ln -sfn /project/shared/bicf_workflow_ref/workflow_testdata/cellranger/cellranger_mkfastq/simple2/* test_data/simple2/

stages:
  - astrocyte
  - simple

astrocyte_check:
  stage: astrocyte
  script:
  - astrocyte_cli check ../cellranger_mkfastq
  artifacts:
    expire_in: 2 days

simple_1FC:
  stage: simple
  except:
    - tags
  script:
  - nextflow run workflow/main.nf --bcl "test_data/simple1/*.tar.gz" --designFile "test_data/simple1/cellranger-tiny-bcl-simple-1_2_0.csv"
  artifacts:
    expire_in: 2 days

simple_2FC:
  stage: simple
  script:
  - nextflow run workflow/main.nf --bcl "test_data/simple2/*.tar.gz" --designFile "test_data/simple2/cellranger-tiny-bcl-simple-1_2_0.csv"
  artifacts:
    expire_in: 2 days
