process {
  executor = 'slurm'
  queue='super'

  // Process specific configuration
  $checkDesignFile {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  $untarBCL {
    cpus = 32
  }
  $mkfastq {
    module = ['cellranger/2.1.1', 'bcl2fastq/2.17.1.14']
    cpus = 128
  }
}

params {
  // Reference file paths on BioHPC
  genomes {
    'ercc92' {
      ref = '/project/apps_database/cellranger/refdata-cellranger-ercc92-1.2.0'
    }
    'GRCh38' {
      ref = '/project/apps_database/cellranger/refdata-cellranger-GRCh38-1.2.0'
    }
    'hg19' {
	ref = '/project/apps_database/cellranger/refdata-cellranger-hg19-1.2.0'
    }
    'mm10' {
      ref = '/project/apps_database/cellranger/refdata-cellranger-mm10-1.2.0'
    }
    'hg19.mm10' {
      ref = '/project/apps_database/cellranger/refdata-cellranger-hg19_and_mm10-1.2.0'
    }
  }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}
