process {
  executor = 'slurm'
  queue='super'

  // Process specific configuration
  withLabel:checkDesignFile {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  withLabel:untarBCL {
    module = ['pigz/2.4']
    queue = 'super'
  }
  withLabel:mkfastq {
    module = ['cellranger/3.1.0', 'bcl2fastq/2.19.1']
    queue = '128GB,256GB,256GBv1,384GB'
  }
  withLabel:fastqc {
    module = ['fastqc/0.11.5', 'parallel']
    executor = 'super'
  }
  withLabel:versions {
    module = ['python/3.6.1-2-anaconda', 'cellranger/3.0.2', 'bcl2fastq/2.19.1', 'fastqc/0.11.5']
    executor = 'local'
  }
  withLabel:multiqc {
    module = ['multiqc/1.7']
    executor = 'local'
  }
}


trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}

tower {
  accessToken = '3ade8f325d4855434b49aa387421a44c63e3360f'
  enabled = true
}
