process {
  executor = 'slurm'
  queue='super'

  // Process specific configuration
  $checkDesignFile {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  $untarBCL {
    cpus = 32
  }
  $mkfastq {
    module = ['cellranger/2.1.1', 'bcl2fastq/2.17.1.14']
    cpus = 32
  }
}


trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}
